<div class="d-flex flex-row-reverse">
  <div class="sides-padding"></div>
  <div class="main-content">
    <div class="d-flex flex-column fg-5">
      <h3 class="text-right">سبد خرید</h3>
      <div class="card-container p-2">
        <div class="main-cart shadow">
          <div class="cart-items">
            <div class="comodity-image-container">
              <img
                src="../../../../assets/slider-images/shoeForSlider4.jpeg"
                alt=""
              />
            </div>
            <div class="infos">
              <div class="upper-details px-xs-2 py-2 py-xs-2">
                <h4 class="text-right py-1">
                  کفش مخصوص پیاده روی مردانه کفش سعیدی کد UM
                </h4>
                <div class="d-flex flex-row-reverse py-2 py-xs-2 py-md-4">
                  <h3><i class="fa fa-ruler-vertical px-1 px-md-2"></i></h3>
                  <h3>41</h3>
                </div>
                <div class="d-flex flex-row-reverse py-2 py-xs-2 py-md-4">
                  <div class="verify-container px-1 px-md-2">
                    <img
                      src="../../../../assets/icons/verifyIcon BgWhite.png"
                      alt=""
                    />
                  </div>
                  <h3 class="">گارانتی اصالت و سلامت فیزیکی کالا</h3>
                </div>
                <div class="d-flex flex-row-reverse py-2 py-xs-2 py-md-4">
                  <h3 class=""><i class="fas fa-store px-1 px-md-2"></i></h3>
                  <h3>کفش افرا</h3>
                </div>
              </div>
              <div class="footer-controls px-sm-2">
                <div class="right-elements">
                  <div class="d-flex flex-row-reverse py-2 py-xs-2 py-md-4">
                    <h4><i class="fa fa-warehouse px-1 px-md-2"></i></h4>
                    <h4>موجود در انبار</h4>
                  </div>
                  <div class="d-flex flex-row-reverse py-2 py-xs-2 py-md-4">
                    <h4><i class="fas fa-truck px-1 px-md-2"></i></h4>
                    <h4>ارسال دیجی‌کالا از ۲ روز کاری دیگر</h4>
                  </div>
                </div>
                <div class="left-price mr-auto text-danger">
                  <h3 style="font-weight: 800;">۱۶۰,۰۰۰</h3>
                  <h4 class="mt-2">تومان</h4>
                </div>
              </div>
              <div class="toolbar-controls py-1">
                <div class="quantity">
                  <span class="plus bg-light"><i class="fa fa-plus"></i></span>
                  <input type="text" value="1"/>
                  <span class="minus bg-light"><i class="fa fa-minus"></i></span>
                </div>
                <div class="heart px-5 py-2">
                  <i class="far fa-heart"></i>
                  <h5 class="px-2">افزودن به علاقه مندی ها</h5>
                </div>
                <div class="delete px-5 py-2">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  <h5 class="px-2">حذف</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="billing-details bg-light shadow py-2 px-2">
      <div class="total-price-with-discount mt-3 ml-2 mr-2">
        <div class="d-flex flex-row-reverse">
          <div class="text-right"><h3 class="pl-4">(۱)قیمت کالا ها</h3></div>
          <div class="text-left mr-auto d-flex">
            <h4 class="mt-3" style="font-size: smaller">تومان</h4>
            <h3>۲۳۳,۰۰۰</h3>
          </div>
        </div>
        <div class="d-flex flex-row-reverse py-2">
          <div class="text-right text-danger"><h3>تخفیف کالا ها</h3></div>
          <div class="text-left text-danger mr-auto d-flex">
            <h4 class="mt-3" style="font-size: smaller">تومان</h4>
            <h3>۷۳,۰۰۰</h3>
          </div>
        </div>
      </div>
      <div class="sum-price">
        <div class="d-flex flex-row-reverse">
          <div class="text-right">
            <h4 class="px-2 py-1 text-secondary" style="font-size: small">
              جمع سبد خرید
            </h4>
          </div>
          <div class="text-left mr-auto d-flex">
            <h4 class="mt-3" style="font-size: smaller">تومان</h4>
            <h3>۱۶۰,۰۰۰</h3>
          </div>
        </div>
      </div>
      <div class="buy-button">
        <h6 class="more-info-buy-button px-4">
          هزینه‌ی ارسال در ادامه بر اساس آدرس، زمان و نحوه‌ی ارسال انتخابی شما‌
          محاسبه و به این مبلغ اضافه خواهد شد
        </h6>
        <button class="btn btn-danger mt-4">ادامه فرایند خرید</button>
      </div>
    </div>
  </div>
  <div class="sides-padding"></div>
</div>
